BODY {
    background-color: rgb(216, 223, 239);
}
h2 {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;

}
p {
    color: gray;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.center-container {
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 130px auto 150px;
    width: 270px;
    height: 400px;
}
.center-image {
    display: block;
    margin: 10px auto 25px;
    width: 260px;
    border-radius: 10px;
}
