BODY {
    background-color: rgb(216, 223, 239)
}
h2 {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Arial;

}
p {
    color: gray;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
}
.center-container {
    background-color: white;
    position: center;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin-left: 530px;
    margin-right: 530px;
    width: 270px;
    margin-top: 130px;
    margin-bottom: 150px;
    height: 400px;
}
.center-image {
    display: block;
    margin: 10px auto 25px;
    width: 260px;
    border-radius: 10px;
}
